body{
    background-color: #F9DCC4;
}


.header-title{
    background-color: #E27D60;
    color: ivory;
    font-family: Lora, Roboto, sans-serif;
    text-align: center;
}

.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: auto;
  }

  .recipe-list {
    font-family: Lora, Roboto, sans-serif;
    text-align: center;
    font-weight: bold;
  }
  
  .ingredients-text,.steps-text,.description-text {
    font-family: Lora, Roboto, sans-serif;
  }